.container {
    /* min-height: 100vh; */
    padding: 0 0.5rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

.shoppingCart {
    /* width: 750px; */
    /* height: 423px; */
    /* margin: 10px auto; */
    background: #FFFFFF;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }


  .title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }
   
  /* .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  } */


  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .deleteButton,
  .likeButton {
    display: inline-block;
    Cursor: pointer;
  }
  .deleteButton {
    width: 18px;
    height: 17px;
    /* background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center; */
  }
   
  .likeButton {
    position: absolute;
    top: 9px;
    left: 15px;
    /* background: url('twitter-heart.png'); */
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
  }


  .isActive {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }



  .image {
    margin-right: 50px;
    width: 80px;
    /* height: 100px; */
  }
   
  /* Let’s add some basic style to  product name and description. */
  .description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
  }
   
  .description span:first-child {
    margin-bottom: 5px;
  }
  .description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
  }



  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  .quantity button[class*=Button] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minusButton img {
    margin-bottom: 3px;
  }
  .plusButton img {
    margin-top: 2px;
  }
   
  .quantity button:focus,
  .quantity input:focus {
    outline:0;
  }


  .totalPrice {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }



  @media (max-width: 800px) {

    .container {
      /* min-height: 100vh; */
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }




    .shoppingCart {
      width: 100%;
      /* height: auto; */
      overflow: hidden;
    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    /* .image img {
      width: 50%;
    } */


    /* .image img {
        width: 100px;
        height: 100px;
      } */

    .image,
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }


/* payment details */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.summaryContainer{
    min-height:100vh;
    background-color:#f7f7f9;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    height:auto;
    width:340px;
    border-radius:10px;
    margin: 20px;
    /* background-color:#fff; */
    padding:20px 20px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.10);
    border-radius: 6px;
}
.paymentDetails{
    margin-top:20px;
}
.paymentDetails p{
    font-size:12px;
    font-weight:700;
    color:#89898e;
}
.inputText{
    position:relative;
    margin-top:30px;
}
.inputText input[type="text"]{
    
    height:40px;
    width:100%;
    border-radius:5px;
    border:none;
    outline:0;
    border:1px solid #f6f6f7;
    padding:0 10px;
    box-sizing:border-box;
    font-size:12px;
}
.inputText span{
    position:absolute;
    top:-16px;
    left:10px;
    font-size:12px;
    font-weight:600;
}
.inputTextCvv{
    position:relative;
}
.inputTextCvv input[type="text"]{
    height:40px;
    width:70px;
    border:none;
    
    border-bottom:1px solid #f6f6f7;
       border-top:1px solid #f6f6f7;
    position:absolute;
    top:-40px;
    right:60px;
}
.cvv input[type="text"]{
    position:absolute;
    right:0;
    border-right:1px solid #f6f6f7;
}
.billing{
    margin-top:30px;
    position:relative;
}
.billing span{
    font-size:12px;
    font-weight:700;
    position:absolute;
    top:-16px;
    left:10px;
}
.billing select{
    height:35px;
    width:100%;
    font-size:12px;
    outline:0;
      padding-left:5px;
      border:1px solid #f6f6f7;
      cursor:pointer;
}
.billing select option:nth-child(1){
    display:none;
    
}
.zipState{
    display:flex;
    width:100%;
}
.zip{
    width:50%;
}
.zip input[type="text"]{
    height:35px;
}
.state{
    width:50%;
}
.summary{
    margin-top:20px;
    display:flex;
    justify-content:space-between;
}
.textData p{
    margin-top:3px;
    font-size:12px;
    font-weight:600;
}
.numericalData p{
      margin-top:3px;
    font-size:12px;
    font-weight:600;
}
.pay{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}
.pay button{
    height:40px;
    width:100%;
    background-color:#7047eb;
    border:none;
    outline:0;
    border-radius:5px;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    transition:all 0.5s;
}
.pay button:hover{
    background-color:blue !important;
}
.secure{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    /*text-align:center;*/
    color:#aeaebc;
}
.secure p{
    font-size:12px;
    font-weight:600;
    color:#aeaebc;
    margin-left:5px;
}
.last{
    margin-top:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
    font-weight:700;
}
.last p{
    margin-right:5px;
}
.last a{
    color:blue;
    text-decoration:none;
    margin-left:5px;
    cursor:pointer;
}


